:root {
  --primary-color: #777777;
  --secondary-color: #555555;
  --tertiary-color: #333333;
  --main-color: #e9d60b;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 4px solid var(--tertiary-color);
  }
  
  .navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    background-color: var(--secondary-color);
    color: #fff;
    border: 4px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-link:hover {
  border: 4px solid var(--main-color);
  }  